#comment_text {
  height: 115px;
  resize: none;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.dataArea {
  background-color: rgba(64,64,64);
  border-radius: 20px;
  padding: 20px;
  width: 1200px;
  color: white;
  position: relative;
  left: 10px;
}

.commentArea {
  background-color: rgba(64,64,64);
  border-radius: 20px;
  padding: 20px;
  width: 1145px;
  color: white;
  position: relative;
  left: -5px;
  margin-top: 40px;
}

.myLabel {
  margin: 10px;
}