.searchCard {
  width: 550px;
  position: relative;
  top:8px;
  /*Revisar el tema de centrado de este elemento en la baarra de navegación*/
}

.form-control {
  border-radius: 7px;
  border: 1.5px solid #E3E6ED
}

input.form-control:focus {
  box-shadow: none;
  border: 1.5px solid #E3E6ED;
  background-color: #F7F8FD;
  letter-spacing: 1px
}

.btn-primary {
  background-color: rgb(160, 170, 190) !important;
  border-radius: 7px;
  border: none;
}

.btn-primary:focus {
  box-shadow: none
}

.btn-primary:hover {
  background-color: rgba(80, 85, 95, 0.9) !important;
}

.text {
  font-size: 13px;
  color: #545f66;
  text-align: center;
}

@media screen and (max-width: 450px) {
  .card {
    display: flex;
    justify-content: center;
    text-align: center
  }
}